<a href="https://colab.research.google.com/github/sakthibhuvan/sakthibhuvan/blob/main/notebooks/03.01-Introducing-Pandas-Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducing Pandas Objects

At a very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's take a look at these three fundamental Pandas data structures: the `Series`, `DataFrame`, and `Index`.

We will start our code sessions with the standard NumPy and Pandas imports:

In [ ]:
import numpy as np
import pandas as pd

## The Pandas Series Object

A Pandas `Series` is a one-dimensional array of indexed data.
It can be created from a list or array as follows:

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

The `Series` combines a sequence of values with an explicit sequence of indices, which we can access with the `values` and `index` attributes.
The `values` are simply a familiar NumPy array:

In [ ]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

The `index` is an array-like object of type `pd.Index`, which we'll discuss in more detail momentarily:

In [ ]:
data.index

RangeIndex(start=0, stop=4, step=1)

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [ ]:
data[1]

np.float64(0.5)

In [ ]:
data[1:3]

1    0.50
2    0.75
dtype: float64

As we will see, though, the Pandas `Series` is much more general and flexible than the one-dimensional NumPy array that it emulates.

### Series as Generalized NumPy Array

From what we've seen so far, the `Series` object may appear to be basically interchangeable with a one-dimensional NumPy array.
The essential difference is that while the NumPy array has an *implicitly defined* integer index used to access the values, the Pandas `Series` has an *explicitly defined* index associated with the values.

This explicit index definition gives the `Series` object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type.
So, if we wish, we can use strings as an index:

In [ ]:
import pandas as pd
ser1 = pd.Series([1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 4, 5, 5, 5])
ser2 = pd.Series()
ser = pd.Series(['a','a','a','b','b','c'])
ser.value_counts()
ser1.value_counts()
ser2 = ser1.nsmallest(n=9, keep='all')
print(ser2)

0     1
1     1
2     2
3     2
4     2
5     3
6     3
7     4
8     4
9     4
10    4
dtype: int64

In [ ]:
import pandas as pd
ser = pd.Series([100,100,95,95,95,45,45,75,75])
ser.value_counts()

95     3
100    2
45     2
75     2
Name: count, dtype: int64

In [ ]:
import pandas as pd

# Sample dataset: Monthly sales figures for a small business
sales_data = {
    'January': 15000,
    'February': 18000,
    'March': 22000,
    'April': 19500,
    'May': 25000,
    'June': 23000
}

# Create a Pandas Series from the dictionary
monthly_sales = pd.Series(sales_data)

# Print the Series
print("Monthly Sales Series:")
print(monthly_sales)

# Accessing elements by label (month name)
print("\nSales in March:", monthly_sales['March'])

# Accessing elements by position (index)
print("Sales in the first month:", monthly_sales[0])

# Performing operations on the Series (e.g., calculating total sales)
total_sales = monthly_sales.sum()
print("\nTotal Sales for the period:", total_sales)

# Filtering the Series (e.g., sales above 20000)
high_sales_months = monthly_sales[monthly_sales > 20000]
print("\nMonths with Sales above 20000:")
print(high_sales_months)
# Finding the highest price
highest_sales_month = monthly_sales.idxmin()
print("\nMonth with the Highest Sales:", highest_sales_month)

Monthly Sales Series:
January     15000
February    18000
March       22000
April       19500
May         25000
June        23000
dtype: int64

Sales in March: 22000
Sales in the first month: 15000

Total Sales for the period: 122500

Months with Sales above 20000:
March    22000
May      25000
June     23000
dtype: int64

Month with the Highest Sales: January

/tmp/ipython-input-2548829342.py:24: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Sales in the first month:", monthly_sales[0])

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

And the item access works as expected:

In [ ]:
data['b']

0.5

We can even use noncontiguous or nonsequential indices:

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [ ]:
data[5]

0.5

In [18]:
import pandas as pd

# 1. Provided raw data
student_scores = [92, 78, 85, 95, 88, 45, 35, 100, 95, 80, 70, 65, 60, 65, 70, 90, 90, 95, 95, 50]
student_names = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q','R', 'S','T']

# 2. Create a Pandas Series with custom index
grades = pd.Series(student_scores, index=student_names)
print("Original Series of Student Grades:")
print(grades)
print("-" * 35)

# 3. Calculate summary statistics
print("Exam Summary Statistics:")
print(f"Average Score: {grades.mean():.2f}")
print(f"Highest Score: {grades.max()}")
print(f"Lowest Score: {grades.min()}")
print("-" * 35)

# 4. Display a filtered list of high-achieving students
# Use a boolean filter to select grades greater than 85
high_achievers = grades[grades > 85]
print("High-Achieving Students (Score > 85):")
print(high_achievers)
print("High Achievers Count")
print(high_achievers.count())
print("-" * 35)
print("Rank")
print(grades.rank(ascending=False))
print("-" * 35)

Original Series of Student Grades:
A     92
B     78
C     85
D     95
E     88
F     45
G     35
H    100
I     95
J     80
K     70
L     65
M     60
N     65
O     70
P     90
Q     90
R     95
S     95
T     50
dtype: int64
-----------------------------------
Exam Summary Statistics:
Average Score: 77.15
Highest Score: 100
Lowest Score: 35
-----------------------------------
High-Achieving Students (Score > 85):
A     92
D     95
E     88
H    100
I     95
P     90
Q     90
R     95
S     95
dtype: int64
High Achievers Count
9
-----------------------------------
Rank
A     6.0
B    12.0
C    10.0
D     3.5
E     9.0
F    19.0
G    20.0
H     1.0
I     3.5
J    11.0
K    13.5
L    15.5
M    17.0
N    15.5
O    13.5
P     7.5
Q     7.5
R     3.5
S     3.5
T    18.0
dtype: float64
-----------------------------------

### Series as Specialized Dictionary

In this way, you can think of a Pandas `Series` a bit like a specialization of a Python dictionary.
A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a `Series` is a structure that maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas `Series` makes it more efficient than Python dictionaries for certain operations.

The `Series`-as-dictionary analogy can be made even more clear by constructing a `Series` object directly from a Python dictionary, here the five most populous US states according to the 2020 census:

In [ ]:
population_dict = {'California': 39538223, 'Texas': 29145505,
                   'Florida': 21538187, 'New York': 20201249,
                   'Pennsylvania': 13002700}
population = pd.Series(population_dict)
population

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
dtype: int64

From here, typical dictionary-style item access can be performed:

In [ ]:
population['California']

39538223

Unlike a dictionary, though, the `Series` also supports array-style operations such as slicing:

In [ ]:
population['California':'Florida']

California    39538223
Texas         29145505
Florida       21538187
dtype: int64

We'll discuss some of the quirks of Pandas indexing and slicing in [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb).

### Constructing Series Objects

We've already seen a few ways of constructing a Pandas `Series` from scratch. All of them are some version of the following:

```python
pd.Series(data, index=index)
```

where `index` is an optional argument, and `data` can be one of many entities.

For example, `data` can be a list or NumPy array, in which case `index` defaults to an integer sequence:

In [ ]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

Or `data` can be a scalar, which is repeated to fill the specified index:

In [ ]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

Or it can be a dictionary, in which case `index` defaults to the dictionary keys:

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In each case, the index can be explicitly set to control the order or the subset of keys used:

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[1, 2])

1    b
2    a
dtype: object

## The Pandas DataFrame Object

The next fundamental structure in Pandas is the `DataFrame`.
Like the `Series` object discussed in the previous section, the `DataFrame` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.
We'll now take a look at each of these perspectives.

### DataFrame as Generalized NumPy Array
If a `Series` is an analog of a one-dimensional array with explicit indices, a `DataFrame` is an analog of a two-dimensional array with explicit row and column indices.
Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a `DataFrame` as a sequence of aligned `Series` objects.
Here, by "aligned" we mean that they share the same index.

To demonstrate this, let's first construct a new `Series` listing the area of each of the five states discussed in the previous section (in square kilometers):

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662, 'Florida': 170312,
             'New York': 141297, 'Pennsylvania': 119280}
area = pd.Series(area_dict)
area

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
dtype: int64

Now that we have this along with the `population` Series from before, we can use a dictionary to construct a single two-dimensional object containing this information:

In [ ]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

Like the `Series` object, the `DataFrame` has an `index` attribute that gives access to the index labels:

In [ ]:
states.index

Index(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania'], dtype='object')

Additionally, the `DataFrame` has a `columns` attribute, which is an `Index` object holding the column labels:

In [ ]:
states.columns

Index(['population', 'area'], dtype='object')

Thus the `DataFrame` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame as Specialized Dictionary

Similarly, we can also think of a `DataFrame` as a specialization of a dictionary.
Where a dictionary maps a key to a value, a `DataFrame` maps a column name to a `Series` of column data.
For example, asking for the `'area'` attribute returns the `Series` object containing the areas we saw earlier:

In [ ]:
states['area']

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

Notice the potential point of confusion here: in a two-dimensional NumPy array, `data[0]` will return the first *row*. For a `DataFrame`, `data['col0']` will return the first *column*.
Because of this, it is probably better to think about ``DataFrame``s as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.
We'll explore more flexible means of indexing ``DataFrame``s in [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb).

### Constructing DataFrame Objects

A Pandas `DataFrame` can be constructed in a variety of ways.
Here we'll explore several examples.

#### From a single Series object

A `DataFrame` is a collection of `Series` objects, and a single-column `DataFrame` can be constructed from a single `Series`:

In [ ]:
pd.DataFrame(population, columns=['population'])

              population
California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700

#### From a list of dicts

Any list of dictionaries can be made into a `DataFrame`.
We'll use a simple list comprehension to create some data:

In [ ]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with `NaN` values (i.e., "Not a Number"; see [Handling Missing Data](03.04-Missing-Values.ipynb)):

In [ ]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a dictionary of Series objects

As we saw before, a `DataFrame` can be constructed from a dictionary of `Series` objects as well:

In [ ]:
pd.DataFrame({'population': population,
              'area': area})

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a `DataFrame` with any specified column and index names.
If omitted, an integer index will be used for each:

In [ ]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.471098  0.317396
b  0.614766  0.305971
c  0.533596  0.512377

#### From a NumPy structured array

We covered structured arrays in [Structured Data: NumPy's Structured Arrays](02.09-Structured-Data-NumPy.ipynb).
A Pandas `DataFrame` operates much like a structured array, and can be created directly from one:

In [ ]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [ ]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index Object

As you've seen, the `Series` and `DataFrame` objects both contain an explicit *index* that lets you reference and modify data.
This `Index` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multiset, as `Index` objects may contain repeated values).
Those views have some interesting consequences in terms of the operations available on `Index` objects.
As a simple example, let's construct an `Index` from a list of integers:

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as Immutable Array

The `Index` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [ ]:
ind[1]

3

In [ ]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

`Index` objects also have many of the attributes familiar from NumPy arrays:

In [ ]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

One difference between `Index` objects and NumPy arrays is that the indices are immutablethat is, they cannot be modified via the normal means:

In [ ]:
ind[1] = 0

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

### Index as Ordered Set

Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects of set arithmetic.
The `Index` object follows many of the conventions used by Python's built-in `set` data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [ ]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [ ]:
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [ ]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')